@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:wght@400;700;900&family=Yellowtail&display=swap');


:root {
    --max-width: 75rem;
    --mobile-break: 700px;
    --mobile-nav-bg: #040405;
    --main-bg: #121214;
    --white-text: white;
    --card-text-bg: white;

    --card-hero-bg: url(./images/calculator.jpg);
    --card-2-bg: url(./images/todo.jpg);
    --card-3-bg: url(./images/agency-landing-page.png);
    --card-4-bg: url(./images/bookmark-landing-page.png);
    --card-5-bg: url(./images/countdown.png);
}


body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg);
    padding: 0 1rem;
}

h2 {
    font-family: 'Bungee', cursive;
    color: var(--white-text);
}

section h2 {
    font-size: 2rem;
}

nav {
    font-size: 1.2rem;
    font-weight: 700;
}


/* Header */
header {
    max-width: var(--max-width);
    margin: auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


.primary-nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white-text);
}

a:hover {
    color: #ef6b6b;
}

.mobile-nav-button {
    display: none;
    z-index: 1000;
}

.logo {
    z-index: 1000;
    font-family: 'Bungee', cursive;
    font-size: 1.7rem;
}

/*hero section */
.hero {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    max-width: 50rem;
    margin: 5rem auto;
}

.title {
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: 'Bungee', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title {
    margin: 0;
    padding: 0;
    font-size: 4.5rem;
    line-height: 85%;
}

.sub-title {
    background-color: #FF0000;
    font-size: 1.5rem;
    margin: 0 10rem 0 0;
    padding: 0 .2rem;
}

.profile-img {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
}

.profile-img img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 30rem;
}

@media screen and (max-width: 800px) {
    .hero {
        grid-template-columns: 1fr;
        align-items: end; 
    }

    .title {
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 10;
        margin: auto;
        text-align: center;
    }

    .sub-title{
        margin: 0;
    }

    .profile-img {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 80vw;
        margin: auto;
        opacity: 50%;
    }
}


/* mobile styling for navbar */
@media screen and (max-width: 800px) {
    .mobile-nav-button {
        display: block;
    }

    .primary-nav {
        position: absolute;
        top: 0;
        left: 0;
        transform: translatey(-100%);
        width: 100%;
        padding: 6rem 0 0 0;
        background-color: var(--mobile-nav-bg);
        border-radius: 0 0 2rem 2rem;
        z-index: 200;
    }

    .primary-nav[data-visible="true"] {
        transform: translate(0%);
        transition-duration: .5s;
    }

    .primary-nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 2rem 0;
    }

    .primary-nav li {
        margin-top: 1rem;
    }

}

@media screen and (max-width: 800px) {
    .main-title {
        font-size: 14vw;
    }
}

/*Hamburger Button source: https://codepen.io/ainalem/pen/GeMqdP?editors=1100*/
svg {
    height: 80px;
    position: absolute;
    width: 80px;
}
.plate {
height: 80px;
width: 80px;
}
.burger {
filter: url(#gooeyness);
}
.x {
transform: scale(0);
transition: transform 400ms;
}
.line {
fill: none;
stroke: white;
stroke-width: 6px;
stroke-linecap: round;
stroke-linejoin: round;
transform-origin: 50%;
transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}
.x .line {
stroke-width: 5.5px;
}

.plate4 .x {
    transition: transform 400ms;
}
.plate4 .line {
transform-origin: 50%;
transition: transform 400ms 100ms;
}
.active.plate4 .line {
transition: transform 400ms;
}
.active.plate4 .line1 {
transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(.7);
}
.active.plate4 .line2 {
transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(.7);
}
.active.plate4 .line3 {
transform: translateY(0px) rotate(45deg) scale(.7);
}
.active.plate4 .line4 {
transform: translateY(0px) rotate(-45deg) scale(.7);
}
.active.plate4 .line5 {
transform: translateX(18px) translateY(3px) rotate(45deg) scale(.7);
}
.active.plate4 .line6 {
transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(.7);
}
.active.plate4 .x {
transition: transform 400ms 100ms;
transform: scale(1);
}

/* main body -> contains about, work, contact */
main {
    max-width: var(--max-width);
    margin: auto;
}


/* About section */
.about {
    margin-top: 10rem;
}
.about p {
    color: white;
    opacity: 87%;
}

/* work section */
.work {
    margin-top: 5rem;
}
.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-height: 35rem;
    max-width: 100%;
    overflow: hidden;
    background-size: cover;
    border-radius: 1rem;
}

.card .card-text {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 10;
    align-self: end;
    margin-bottom: min(3%, 2rem);
    margin-left: 0;
    padding: 1rem 2rem 1rem 3rem;
    background-color: var(--card-text-bg);
    max-width: min(15rem, 50%);
    border-radius: 0 1rem 1rem 0;
    box-shadow: .25rem .25rem .25rem hsla(100% 100% 0%);
}


.card img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}

.main-link {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.hero-card {
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: var(--card-hero-bg);
    min-height: 35rem;
}

.card-2 {
    background-image: var(--card-2-bg);
}

.card-3 {
    background-image: var(--card-3-bg);
}

.card-4 {
    background-image: var(--card-4-bg);
}

.card-5 {
    background-image: var(--card-5-bg);
}

.card:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem .5rem black;
    transition-duration: .1s;
}

@media screen and (max-width: 770px) {
    .project-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .hero-card {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .card {
        min-height: 20rem;
    }

}


/* contact */

.contact {
    margin-top: 5rem;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
}

.contact-links img:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(55%) saturate(2200%) hue-rotate(328deg) brightness(125%) contrast(89%);
}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: auto;
    margin-top: 10rem;
    align-items: center;
}

footer ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

footer a {
    text-decoration: none;
}

@media screen and (max-width: 770px) {
    footer, footer ul {
        flex-direction: column;
        text-align: center;
    }

    .contact-links {
        text-align: center;
        justify-content: center;
        gap: 3rem;
    }

    #email {
        width: 100%;
        margin: auto;
    }
}